/*файл-черновик (не используется в готовом проекте)*/
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background: #ffffff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.body_fixed {
  overflow: hidden;
}

.header {
  padding: 20px 0;
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 127px;
  height: 22px;
}

.nav {
  display: flex;
  gap: 60px;
}

.nav__link a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none !important;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: end;
  opacity: 0.9;
  visibility: hidden;
  transition: all 0.3s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 30%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  padding-top: 100px;
}

.burger-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger-nav__link {
  display: block;
  padding: 10px;
  font-size: 32px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .nav {
    display: none;
  }

  .burger-btn {
    position: absolute;
    right: 40px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 50px;
    background-color: brown;
  }

  .burger-btn_open {
    background-color: blueviolet;
  }
}

/*.burger-btn {
  display: none;
  z-index: 2000;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.burger__content {
  padding: 80px 0 50px 30px;
  width: 274px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}

.burger_open,
.burger__content {
  transform: translateX(0);
}

.burger__logo {
  margin-bottom: 50px;
  width: 156px;
}

.burger__links {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  line-height: 34px;
}

.burger__contacts {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: black;
  opacity: 0.5;
}

.burger__contacts-link {
  display: block;
  font-size: 20px;
  line-height: 46px;
}

@media (max-width: 1199px) {
  .nav__links {
    display: none;
  }

  .burger-btn {
    display: block;
    position: relative;
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .burger-btn::before,
  .burger-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .burger-btn::after {
    top: 6px;
    width: 31px;
  }

  .burger-btn_open {
    position: absolute;
    top: 40px;
    right: 29px;
    width: 30px;
    height: 30px;
    background-image: url(../images/cross-sign.png);
  }
}

@media (max-width: 767px) {
}*/
