/*секция "контакты"*/

.contacts h2 {
  margin-top: 146px;
  margin-bottom: 75px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 104px;
}

.contacts__box {
  margin-bottom: 150px;
  font-size: 60px;
  line-height: 60px;
}

.phone__number {
  position: relative;
  display: block;
  letter-spacing: -0.013em;
}

.phone__number:before {
  content: "";
  position: absolute;
  top: -50px;
  width: 13px;
  height: 22px;
  background-image: url("../images/phone-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.send__email {
  margin-top: -9px;
  padding-bottom: 7px;
  position: relative;
  display: block;
  color: rgba(18, 18, 18, 0.5);
  border-bottom: 2px solid;
}

.send__email:before {
  content: "";
  position: absolute;
  top: -37px;
  width: 20px;
  height: 16px;
  background-image: url("../images/mail-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
