footer {
  background: #121212;
}

.footer__wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer__nav {
  margin: 0 auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: block;
  font-size: 18px;
  line-height: 25px;
}

footer a {
  color: #ffffff !important;
}

footer a:hover {
  opacity: 0.5;
}

footer p {
  padding-top: 89px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer__wrapper {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .footer__nav {
    width: 281px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 16px;
  }

  footer p {
    padding-top: 41px;
    font-size: 13px;
    line-height: 18px;
  }
}
