/*footer {
    padding: 60px 0 30px 0;
    min-width: 100%;
    width: 1400px;
    height: 229px;
    background: #121212;
  }
  
  .footer__nav {
    margin: 0 auto;
    width: 466px;
  }
  
  footer a {
    color: #ffffff !important;
  }
  
  footer a:hover {
    opacity: 0.5;
  }
  
  .footer__link {
    margin-left: 53px;
  }
  
  .footer__link:first-child {
    margin-left: 0;
  }
  
  footer p {
    padding-top: 89px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
  }*/
