/*секция "галерея готовых проектов"*/
.nopad {
  margin-bottom: 0;
}

.gallery__wrapper {
  position: relative;
}

.gallery__title-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  top: 64px;
  z-index: 100;
}

.gallery__title {
  font-size: 22px;
  line-height: 30px;
  color: white;
}

.gallery__slides {
  position: relative;
  height: 717px;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__item {
  width: 100%;
  height: 717px;
  object-fit: cover;
}

.gallery__controls-wrapper {
  position: absolute;
  bottom: 165px;
  left: -10px;
  width: 100%;
  height: 40px;
}

.gallery__controls {
  display: flex;
  gap: 14px;
}

.gallery__control-prev,
.gallery__control-next {
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.gallery__control-next:hover {
  opacity: 50%;
}

.gallery__control-prev:hover {
  opacity: 50%;
}

.description__wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 63px;
}

.slide__description {
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  /*.container {
    display: flex;
  }*/

  .gallery__wrapper {
    height: 536px;
  }

  .gallery__item {
    height: 535px;
    object-position: 50% 50%;
  }

  .gallery__title-wrapper {
    top: 80px;
    left: 35px;
  }
  .gallery__title {
    font-size: 20px;
    line-height: 27px;
  }

  .gallery__controls-wrapper {
    bottom: 330px;
    left: 26px;
  }
  .gallery__controls {
    gap: 14px;
  }
  .description__wrapper {
    bottom: 261px;
    left: 37px;
  }
  .slide__description {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .gallery__wrapper {
    height: 408px;
  }

  .gallery__item {
    height: 408px;
    object-position: 50% 50%;
  }

  .gallery__title-wrapper {
    top: 61px;
    left: -3px;
  }

  .gallery__title {
    font-size: 14px;
    line-height: 19px;
  }

  .gallery__controls-wrapper {
    bottom: 68.5%;
    left: -7px;
  }

  .gallery__controls {
    justify-content: space-between;
    gap: 0;
  }

  .gallery__control-prev,
  .gallery__control-next {
    width: 30px;
    height: 25px;
  }

  .description__wrapper {
    bottom: 370px;
    left: -1px;
  }

  .slide__description {
    font-size: 19px;
    line-height: 26px;
  }
}
