/*секция "галерея готовых проектов"*/

.gallery__wrapper {
  position: relative;
  width: 100%;
  height: 717px;
}

.gallery__title-wrapper {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 100;
}

.gallery__title {
  font-size: 22px;
  line-height: 30px;
  color: white;
}

.gallery__slides {
  position: relative; 
  width: 100%;
  height: 100%;
}
.gallery__slide {
  position: absolute;
  top: 0; 
  left: 0; 
  height: 100%; 
  width: 100%; 
  opacity: 0; 
  object-fit: cover;
}

.gallery__slide_active {
  opacity: 1; 
}

.gallery__box {
  height: 100%;
}

.gallery__controls-wrapper {
  position: absolute;
  bottom: 165px;
  width: 100%;
  height: 40px;
}
.gallery__controls {
  display: flex;
  gap: 14px;
}

.gallery__control-prev,
.gallery__control-next {
  width: 40px;
  height: 40px;
  background:none ;
  border: none;
}



.slide__description {
  position: absolute;
  bottom: 65px;
  left: 60px;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 41px;
}
 

/*.turnkeyinterior {
  margin-bottom: 150px;
  width: 100%;
  height: 717px;
  background-image: url(../images/bedroom-interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.turnkeyinterior__container {
  position: relative;
  margin: 0 auto;
  width: 1150px;
}
.turnkeyinterior p {
  position: absolute;
  top: 575px;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  letter-spacing: -0.03em;
}
