.body_fixed {
  overflow: hidden;
}

header {
  margin-bottom: 70px;
  padding-top: 33px;
  height: 25px;
}

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  width: 127px;
  height: 21px;
  object-fit: contain;
}

.nav__links {
  display: flex;
  gap: 60px;
}

.nav__link {
  display: block;
  line-height: 25px;
  font-size: 18px;
}

.nav__link:hover {
  opacity: 0.5;
  box-shadow: inset 0 -0.5px #121212;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: end;
  opacity: 0.9;
  visibility: hidden;
  transition: all 0.3s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  padding: 80px 0 50px 30px;
  width: 274px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}

.burger_open,
.burger__content {
  transform: translateX(0);
}

.burger__logo {
  margin-bottom: 50px;
  display: block;
  width: 156px;
  height: 26px;
  object-fit: contain;
}

.burger-nav {
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger-nav__link {
  display: block;
  font-size: 25px;
  line-height: 34px;
}

.burger-nav__link:hover {
  opacity: 0.5;
  box-shadow: inset 0 -0.5px #121212;
}

.burger__contacts {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: black;
  opacity: 0.5;
}

.burger__contacts-link {
  display: block;
  font-size: 20px;
  line-height: 46px;
}

@media (max-width: 1199px) {
  .nav__links {
    display: none;
  }

  .burger-btn {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .burger-btn::before,
  .burger-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .burger-btn::after {
    top: 6px;
    width: 31px;
  }

  .burger-btn_open {
    position: absolute;
    top: 27px;
    right: 27px;
    width: 20px;
    height: 20px;
    background-image: url(../images/cross-sign.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 80;
  }

  .burger-btn_open::before,
  .burger-btn_open::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .burger-btn {
    width: 38px;
  }

  .burger-btn::after {
    top: 5px;
    width: 24px;
  }
}
