/*секция "вступление"*/

.intro h1 {
  margin-bottom: 30px;
  width: 950px;
  font-size: 60px;
  line-height: 60px;
}

.intro__image {
  position: relative;
  width: 1150px;
  height: 500px;
  object-fit: cover;
  z-index: -1;
}

.intro p {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .intro h1 {
    font-size: 50px;
    width: 100%;
  }

  .intro__image {
    height: 400px;
    width: 98%;
  }

  .intro p {
    bottom: 30px;
    width: 430px;
  }
}

@media (max-width: 803px) {
  .intro h1 {
    font-size: 45px;
    line-height: 45px;
  }
}

@media (max-width: 767px) {
  .intro h1 {
    margin-top: 108px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 32px;
    max-width: 315px;
  }

  h1 br {
    display: none;
  }

  .intro__image {
    position: relative;
    height: 304px;
  }

  .intro p {
    left: 15px;
    bottom: 15px;
    width: 90%;
    font-size: 16px;
    line-height: 22px;
  }
}
