/*общие свойства для секций и тегов*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1150px;
  margin-bottom: 149px;
}

h1,
h2,
p,
a {
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #121212;
}

.about h2,
.projects h2,
.services h2,
.testimonials h2,
.contacts h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1199px) {
  .container {
    margin-bottom: 120px;
    padding-left: 17px;
    padding-right: 15px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .container {
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 15px;
  }

  .about h2,
  .projects h2,
  .services h2,
  .testimonials h2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
}
