/*секция "проекты"*/

.project {
  margin-bottom: 90px;
}

.project__image {
  margin-bottom: 15px;
}

.project p {
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 41px;
}

.project a {
  padding-left: 1px;
  display: block;
  width: 127px;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

.allProjects {
  padding-top: 56px;
  padding-bottom: 56px;
  display: block;
  background: #ffffff;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 41px;
  font-size: 30px;
  cursor: pointer;
  color: #ad1818;
}

.allProjects:hover {
  color: #ffffff;
  background: #ad1818;
}

@media (max-width: 1199px) {
  .projects {
    margin-bottom: 103px;
  }

  .project__image {
    margin-bottom: 13px;
    max-width: 980px;
    height: 450px;
  }

  .project p {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }

  .project {
    margin-bottom: 80px;
  }

  .project:last-of-type {
    margin-bottom: 102px;
  }

  .allProjects {
    padding: 56px 0;
    max-width: 928px;
    border: 1px solid #ad1818;
    border-radius: 5px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .projects {
    margin-bottom: 144px;
  }

  .project__image {
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
  }

  .project p {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24.59px;
  }

  .project a {
    display: block;
    width: 101px;
    font-size: 16px;
    line-height: 22px;
  }

  .project {
    margin-bottom: 49px;
  }

  .project:last-of-type {
    margin-bottom: 60px;
  }

  .allProjects {
    padding: 37px 0;
    width: 100%;
    border: 0.76px solid #ad1818;
    border-radius: 3.8px;
    line-height: 30px;
    font-size: 22px;
  }
}
