/*23.03 added 2 queries @1199px&@767px and .container. resized h1. try to eliminate fixed width&paddings in body*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  min-width: 100%;
  max-width: 1400px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background: #ffffff;
}

.container {
  margin: 0 auto 150px;
  width: 1150px;
}

header {
  margin-bottom: 70px !important;
  padding-top: 33px;
  height: 25px;
}

h1,
h2,
p,
a {
  letter-spacing: -0.03em;
  text-decoration: none;
  color: #121212;
}

.logo {
  margin-right: 555px;
  width: 126px;
}

.nav__links {
  display: inline-block;
  vertical-align: top;
}

.nav__link,
.footer__link {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
}

.nav__link:nth-child(2) {
  margin-left: 60px;
  margin-right: 57px;
}

.nav__link:nth-child(3) {
  margin-right: 56.5px;
}

.nav__link:hover {
  opacity: 0.5;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}

/*header,
.welcome,
.about,
.projects,
.contacts {
  margin: 0 auto;
  margin-bottom: 149px;
  width: 1275px;
  padding-left: 125px;
}*/

.welcome h1 {
  margin-bottom: 30px;
  width: 956px;
  font-size: 60px;
}

.welcome__image {
  margin-bottom: 150px;
  position: relative;
  background-image: url(../images/grey-armchair.jpg);
  height: 500px;
}

.welcome p {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.about h2,
.projects h2,
.services h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24.59px;
}

.about p {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: 61.47px;
}

.about a {
  width: 255px;
  height: 67px;
  display: block;
  color: #ffffff;
  background: #ad1818;
  border-radius: 5px;
  text-align: center;
  line-height: 67px;
  font-size: 20px;
}

.project {
  margin-bottom: 90px;
}

.project__image {
  margin-bottom: 15px;
}

.project p {
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 41px;
}

.project a {
  display: block;
  width: 127px;
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}

.allProjects {
  padding-top: 56px;
  padding-bottom: 56px;
  display: block;
  width: 1150px;
  background: #ffffff;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 41px;
  font-size: 30px;
  cursor: pointer;
  color: #ad1818;
}

.allProjects:hover {
  color: #ffffff;
  background: #ad1818;
}

.services {
  min-width: 100%;
  background-color: #121212;
}

.services__container {
  margin: 0 auto;
  padding-top: 151px;
  padding-bottom: 150px;
  width: 1150px;
}

.services__list {
  margin-bottom: 106px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__item {
  margin-bottom: 85px;
  width: calc(50% - 5.5px);
}

.service__item_last {
  margin-bottom: 0;
  width: calc(50% - 5.5px);
}

.services h2 {
  margin-bottom: 30px;
  color: #ffffff;
}

.service__image {
  margin-bottom: 25px;
  width: 100%;
  height: 389px;
  object-fit: contain;
}

.service__image_box {
  position: relative;
}

.services p {
  padding-left: 3px;
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
}

.service__image_box p {
  position: absolute;
  padding: 0 21px;
  height: 40px;
  top: 31px;
  left: 30px;
  background: #ad1818;
  border-radius: 5px;
  font-size: 22px !important;
  line-height: 40px !important;
  text-align: center;
}

.orderService {
  padding: 56px 0;
  display: block;
  width: 100%;
  background: #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 41px;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
}

.turnkeyinterior {
  margin-bottom: 150px;
  min-width: 100%;
  height: 717px;
  background-image: url(../images/bedroom-interior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.turnkeyinterior__container {
  position: relative;
  margin: 0 auto;
  width: 1150px;
}
.turnkeyinterior p {
  position: absolute;
  top: 575px;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  letter-spacing: -0.03em;
}

.contacts {
  margin-bottom: 160px;
  display: block;
  font-size: 60px;
  line-height: 60px;
}

.contacts h2 {
  margin-bottom: 32px;
}

.contacts h2::before {
  margin-bottom: 13px;
  content: "";
  width: 13px;
  height: 22px;
  background-image: url("../images/phone-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
}

.phone__number {
  margin-bottom: 28px;
  display: block;
  letter-spacing: -0.013em;
}

.send__email {
  opacity: 0.5;
  border-bottom: 2px solid #121212;
}

footer {
  padding: 60px 0 30px 0;
  min-width: 100%;
  width: 1400px;
  height: 229px;
  background: #121212;
}

.footer__nav {
  margin: 0 auto;
  width: 466px;
}

footer a {
  color: #ffffff !important;
}

footer a:hover {
  opacity: 0.5;
}

.footer__link {
  margin-left: 53px;
}

.footer__link:first-child {
  margin-left: 0;
}

footer p {
  padding-top: 89px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .container {
    margin: 0 auto 120px;
    min-width: 100%;
    max-width: 960px;
    padding: 0 17px 0 15px;
  }

  .welcome h1 {
    width: 802px;
    font-size: 50px;
    line-height: 60px;
  }

  .welcome__image {
    margin-bottom: 120px;
    position: relative;
    background-image: url(../images/grey-armchair-tblt.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    max-width: 928px;
  }

  .welcome p {
    position: absolute;
    left: 40px;
    bottom: 30px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
  }

  .about p {
    margin-bottom: 30px;
    width: 690px;
    font-size: 35px;
    line-height: 48px;
  }

  .project__image {
    margin-bottom: 15px;
    max-width: 980px;
    height: 450px;
  }

  .project p {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }

  .project a {
    width: 127px;
    font-size: 20px;
    line-height: 27px;
  }

  .project {
    margin-bottom: 80px;
  }

  .project:last-of-type {
    margin-bottom: 102px;
  }

  .allProjects {
    padding: 56px 0;
    max-width: 928px;
    border: 1px solid #ad1818;
    border-radius: 5px;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
  }

  .services {
    margin: 0 auto;
    min-width: 100%;
    max-width: 980px;
    background-color: white !important;
  }

  .services__container {
    margin: 0 auto;
    padding: 151px 23px 120px 27px;
    min-width: 100%;
    background-color: #121212;
  }

  .services__list {
    margin-bottom: 80px;
  }

  .service__item,
  .service__item_last {
    margin-bottom: 80px;
    width: calc(50% - 5px);
  }

  .service__image {
    margin-bottom: 15px;
    width: 100%;
    height: 315px;
    object-fit: cover;
  }

  .services p {
    padding-left: 1.8px;
    color: #ffffff;
    font-size: 25px;
    line-height: 34px;
  }

  /*эта строчка отменяет действие тега <br>*/
  br {
    content: " ";
    display: none;
  }

  .service__image_box p {
    padding: 0 27px;
    left: 32px;
    top: 31px;
    font-size: 20px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 767px) {
  .container {
    min-width: 100%;
    max-width: 375px;
    padding: 0 12px 0 13px;
  }

  .welcome h1 {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 32px;
    max-width: 337px;
  }

  .welcome__image {
    margin-bottom: 80px;
    position: relative;
    background-image: url(../images/grey-armchair-mbl.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 304px;
    max-width: 350px;
  }

  .welcome p {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 310px;
    font-size: 16px;
    line-height: 22px;
  }

  .about h2,
  .projects h2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .about p {
    margin-bottom: 30px;
    width: 346px;
    font-size: 22px;
    line-height: 30px;
  }

  .about a {
    margin-bottom: 80px;
    width: 194px;
    height: 51px;
    border-radius: 3.8px;
    text-align: center;
    line-height: 51px;
    font-size: 16px;
  }

  .project__image {
    margin-bottom: 20px;
    width: 350px;
    height: 250px;
  }

  .project p {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 24.59px;
  }

  .project a {
    display: block;
    width: 101px;
    font-size: 16px;
    line-height: 22px;
  }

  .project {
    margin-bottom: 49px;
  }

  .project:last-of-type {
    margin-bottom: 60px;
  }

  .allProjects {
    padding: 37px 0;
    max-width: 350px;
    border: 0.76px solid #ad1818;
    border-radius: 3.8px;
    line-height: 30px;
    font-size: 22px;
  }

  .services {
    margin: 0 auto;
    min-width: 100%;
    max-width: 386px;
    background-color: white !important;
  }

  .services__container {
    margin: 0 auto;
    padding: 80px 15px 21px;
    min-width: 100%;
    background-color: #121212;
  }

  .services h2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }

  .service__item,
  .service__item_last {
    margin-bottom: 60px;
    width: 100%;
  }

  /*.service__image {
    margin-bottom: 10px;
    max-width: 350px;
    min-width: 100%;
    height: 240px;
    object-fit: cover;
  }*/

  .services p {
    padding-left: 1.8px;
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
  }

  /*эта строчка отменяет действие тега <br>*/
  br {
    content: " ";
    display: none;
  }

  .service__image_box p {
    padding: 0 27px;
    left: 32px;
    top: 31px;
    font-size: 20px !important;
    line-height: 40px !important;
  }
}
