body {
  font-family: "Manrope", sans-serif;
  background: #f5f5f5;
  font-weight: 400;
  color: #121212;
  box-sizing: border-box;
}

.page-container {
  width: 1400px;
}

/*nav {
  width: 1150px;
  height: 25px;
  padding: 33 0 70 0;
}

a {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
}

li {
  display: inline;
  float: right;
}*/

.header {
  font-size: 60px;
  line-height: 60px;
  width: 996px;
  text-align: left;
  margin-top: 73.76px;
  margin-bottom: 30px;
}

.header-image {
  width: 1150px;
  background-image: url("../images/Rectangle 1.jpg");
  background-repeat: no-repeat;
  padding-left: 19px;
  padding-top: 379px;
  padding-bottom: 40px;
  margin-bottom: 150px;
}

.header-image p {
  width: 460px;
  height: 81px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.32px;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  letter-spacing: -0.03em;
  text-align: left;
}

.description p {
  width: 1048px;
  height: 366px;
  margin-top: 30px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  text-align: left;
}

.link1 {
  margin-top: 30px;
  margin-bottom: 150px;
  display: inline-block;
  padding: 20px 40px;
  color: #ffffff;
  background-color: #ad1818;
  border-radius: 5px;
  border: 1px solid #ad1818;
  width: 255px;
  height: 67px;
  text-decoration: none;
  text-align: center;
  line-height: 67px;
  font-size: 18px;
  font-style: normal;
}

/*.projects {
  width: 1150px;
  height: 450px;
}

p {
  color: #000000;
  font-size: 45px;
  line-height: 61.47px;
}*/
