html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

header {
  margin: 0 auto 150px;
  width: 1150px;
}

h1,
h2,
p,
a,
div {
  letter-spacing: -0.03em;
}

.nav {
  float: right;
  margin: 0 auto;
  padding: 33px 0 70px;
  width: 1150px;
  height: 25px;
}

.logo {
  margin-right: 558px;
  width: 126px;
  display: inline-block;
}

menu {
  display: inline-block;
  vertical-align: top;
}

.nav__link {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.nav__link a {
  text-decoration: none;
  color: #121212;
}

.nav__link:nth-child(2) {
  margin-left: 57px;
  margin-right: 57px;
}

.nav__link:nth-child(3) {
  margin-right: 56.5px;
}

.nav__link:hover {
  opacity: 0.5;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}

h1 {
  margin-bottom: 30px;
  width: 956px;
  min-height: 120px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  display: block;
}

.header__image {
  position: relative;
  margin: 0 auto;
  height: 500px;
}

.header__desc p {
  position: absolute;
  left: 40px;
  bottom: 40px;
  max-width: 430px;
  min-height: 81px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

/*li,
h1,
h2,
.header__desc,
.about,
.button,
.link2allprojects,
.turnkeysolution__container {
  letter-spacing: -0.03em;
}

header,
.container1400px {
  margin: 0 auto;
  width: 1400px;
}

.container1150px {
  margin: 0 auto;
  margin-bottom: 146px;
  width: 1150px;
  display: block;
}

h1 {
  margin-bottom: 30px;
  width: 956px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  display: block;
}

.header__image {
  margin: 0 auto;
  height: 500px;
}

.header__box {
  position: relative;
}

.header__desc {
  position: absolute;
  width: 430px;
  height: 81px;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  display: block;
}

.nav-section {
  margin-top: 32.82px;
  margin-bottom: 70px;
  min-width: 1151.35px;
}

.nav-container {
  width: 1216px;
  height: 25.18px;
}

.logo-link {
  margin-right: 556px;
  display: inline-block;
}

.logo {
  width: 126.89px;
  height: 21.42px;
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  display: inline;
  float: right;
  display: block;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}

.nav__link {
  margin-right: 60px;
}

.nav {
  margin-top: 0.18px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}

li:nth-last-child(4) {
  margin-right: 0;
}

.nav__link:hover {
  opacity: 0.5;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
}

.about__us {
  margin-bottom: 150px;
  width: 1051px;
  height: 518px;
  display: block;
}

h2 {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 24.59px;
}

.about {
  margin-bottom: 30px;
  width: 1048px;
  height: 366px;
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  display: block;
}

.button {
  width: 255px;
  height: 67px;
  display: block;
  color: #ffffff;
  background: #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 67px;
  font-size: 20px;
  cursor: pointer;
}

.projects {
  margin-bottom: 150px;
  width: 1150px;
  display: block;
}

.project__image {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
}

.details {
  margin-bottom: 88px;
}

.details__link {
  text-decoration: none;
  color: #ad1818;
  font-size: 20px;
  line-height: 27px;
}

.link2allprojects {
  display: block;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  padding-top: 56px;
  padding-bottom: 56px;
  background: #ffffff;
  text-align: center;
  line-height: 41px;
  font-size: 30px;
  cursor: pointer;
  color: #ad1818;
}

.link2allprojects:hover {
  color: #ffffff;
  background: #ad1818;
}

.services {
  min-width: 1400px;
  background-color: #121212;
  display: block;
}

.services__container {
  margin: 0 auto;
  width: 1150px;
  padding-top: 155px;
  padding-bottom: 150px;
}

h5 {
  margin-bottom: 38px;
  color: #ffffff;
  display: block;
  letter-spacing: -0.003em;
}

.service {
  margin-bottom: 60px;
}

.service__image {
  margin-bottom: 13px;
}

h4 {
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
}

.service__last {
  margin-bottom: 0;
}

.turnkeysolution {
  position: relative;
  width: 100%;
  min-width: 1400px;
  margin-bottom: 150px;
  height: 717px;
  background-image: url(../images/turnkeysolution.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.turnkeysolution__container {
  position: absolute;
  left: 125px;
  bottom: 60px;
  width: 443px;
  height: 82px;
  color: #ffffff;
  display: block;
}

.contacts {
  padding-left: 185px;
  min-width: 1015px;
  display: block;
}

.contacts__anchor::before {
  content: "";
  margin-bottom: 13px;
  width: 13px;
  height: 22px;
  display: block;
  background-image: url("../images/phone__logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.contacts__container {
  margin-bottom: 188px;
  width: 473px;
  height: 212px;
}

.phone {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.019em;
}

.mail__box {
  width: 412px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  opacity: 0.5;
}

.mail__box:hover {
  border-bottom: 2px solid #121212;
  padding-bottom: 8px;
  opacity: 0.5;
}

footer {
  position: relative;
  min-width: 1400px;
  height: 229px;
  background-color: #121212;
}

.footer__nav {
  margin: 0 auto;
  width: 1150px;
  height: 25px;
}

.footer__links {
  position: absolute;
  left: 530px;
  top: 59px;
  height: 25px;
}

.footer__link {
  margin-right: 55px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__text {
  position: absolute;
  left: 563px;
  bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  opacity: 50%;
  color: #ffffff;
  display: block;
}*/
