/*секция "отзывы наших клиентов"*/

.testimonials__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial__box {
  margin-bottom: 84px;
  width: calc(50% - 24.5px);
  height: 390px;
}

.last_box {
  margin-bottom: 0;
  width: 82%;
}

.customer__info {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 61px;
}
.customer__said {
  font-size: 22px;
  line-height: 30px;
}
@media (max-width: 1199px) {
  .testimonial__box {
    margin-bottom: 80px;
    width: calc(50% - 5px);
  }

  .customer__info {
    margin-bottom: 14px;
    font-size: 35px;
    line-height: 48px;
  }

  .customer__said {
    font-size: 20px;
    line-height: 27px;
  }
}
